name: C/C++ CI windows

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Find solution
        id: find
        shell: pwsh
        run: |
          $sln = Get-ChildItem -Path $env:GITHUB_WORKSPACE -Recurse `
          -Include *.sln, *.slnx -File -ErrorAction SilentlyContinue | Select-Object -First 1

          if ($null -eq $sln) {
          Add-Content -Path $env:GITHUB_OUTPUT -Value "solution="
          exit 0
            }
            Add-Content -Path $env:GITHUB_OUTPUT -Value "solution=$($sln.FullName)"


      - name: Build solution (MSBuild, x64, C++20)
        if: steps.find.outputs.solution != ''
        shell: powershell
        run: |
          msbuild Titled-Roblox-External.sln /p:PlatformToolset=v143 /p:Configuration=Release
          $slnx = "${{ steps.find.outputs.solution }}"
          Write-Host "Building $slnx for x64 (Release) with C++20"
          # Set MSBuild properties: Configuration=Release, Platform=x64, enable C++20 (/std:c++20), Optimize etc.
          & msbuild $sln /m /p:Configuration=Release /p:Platform=x64 /p:CLToolsetVersion=Native /p:AdditionalOptions="/std:c++20"

      - name: Fail if no solution found
        if: steps.find.outputs.solution == ''
        shell: powershell
        run: |
          Write-Error "No .slnx or .sln found in repo."
          exit 1
